@font-face {
  font-family: "bebas";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype"); }

@font-face {
  font-family: "norms";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/TTNorms/TTNorms-Light.eot");
  src: url("../fonts/TTNorms/TTNorms-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms/TTNorms-Light.woff") format("woff"), url("../fonts/TTNorms/TTNorms-Light.ttf") format("truetype"); }

@font-face {
  font-family: "norms";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TTNorms/TTNorms-Regular.eot");
  src: url("../fonts/TTNorms/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms/TTNorms-Regular.woff") format("woff"), url("../fonts/TTNorms/TTNorms-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "norms";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/TTNorms/TTNorms-Medium.eot");
  src: url("../fonts/TTNorms/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms/TTNorms-Medium.woff") format("woff"), url("../fonts/TTNorms/TTNorms-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "norms";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/TTNorms/TTNorms-Bold.eot");
  src: url("../fonts/TTNorms/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms/TTNorms-Bold.woff") format("woff"), url("../fonts/TTNorms/TTNorms-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Bebas Neue", sans-serif;
  color: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  a:hover, a:focus {
    outline: none;
    text-decoration: none; }

.logo {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo img {
    max-width: 200px; }

.logo-text {
  letter-spacing: 1px;
  margin: 0 0 0 27px;
  font-family: 'norms', sans-serif;
  font-size: 15px; }

h1 {
  font-size: 69px;
  letter-spacing: 1.73px;
  font-family: 'bebas', sans-serif;
  width: 100%; }

h2 {
  width: 100%;
  letter-spacing: 1.73px;
  font-size: 69px; }

.description {
  font-size: 34.5px;
  letter-spacing: 0.86px;
  width: 100%; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 258px;
  width: 100%;
  height: 49px;
  padding: 12px 20px;
  border-radius: 5px;
  letter-spacing: 1.96px;
  font-size: 14px;
  font-family: 'norms', sans-serif;
  font-weight: bold;
  color: #fff; }
  .btn .icon {
    margin: 0 0 0 40px; }

.btn-accent {
  border: solid 2px #4b7dff; }
  .btn-accent:hover {
    border: solid 2px #4b7dff;
    color: #4b7dff;
    background: #fff; }

.btn-border {
  border-radius: 5px;
  border: solid 2px #ffffff;
  color: #fff; }
  .btn-border:hover {
    background: #4879f6;
    color: #fff; }

.btn-blue {
  background: #4b7dff; }
  .btn-blue:hover {
    color: #fff;
    background: rgba(75, 125, 255, 0.4); }

button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

strong {
  font-family: 'norms', sans-serif;
  font-weight: bold; }

header {
  padding: 48px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2; }

.home-wrapper {
  background: url("../img/bg1.jpg") no-repeat center top;
    background-size: cover; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%; }
  .list-social li {
    margin: 0 0 0 30px; }
    .list-social li:first-child {
      margin: 0; }
    .list-social li a {
      opacity: .39; }
      .list-social li a:hover {
        opacity: 1; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%; }
  .menu li {
    margin: 0 23px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      border: solid 1px rgba(255, 255, 255, 0.23);
        border-radius: 5px;
      color: #fff;
      letter-spacing: 3.18px;
      font-size: 15.5px;
      padding: 7px 28px; }
      .menu li a:hover {
        background: rgba(255, 255, 255, 0.23);
        color: #4879f6; }

main {
  padding: 288px 0 0; }
  main .btn {
    margin: 33px 0 0; }

.main-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -80px 0 -50px; }

.main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: .41;
  width: 30px;
  color: #fff; }
  .main-text .text {
    white-space: nowrap;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin: -80px 0 0; }
  .main-text .icon {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #fff;
      border-radius: 50%; }
    .main-text .icon img {
      -webkit-filter: invert(1);
              filter: invert(1); }

.image1 {
  margin: 0 37px 0 128px; }

.contacts {
  padding: 0 0 94px; }
  .contacts .row {
    position: relative; }
  .contacts .image-bg {
    right: 100px;
    top: -10px; }

.list-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 88px 0 0; }
  .list-contacts li {
    margin: 0 65px 0 0; }
    .list-contacts li:last-child {
      margin: 0; }
    .list-contacts li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 190px;
      height: 81px;
      border-radius: 5px;
      border: solid 2px rgba(255, 255, 255, 0.28);
      padding: 24px 0 10px; }
      .list-contacts li a:hover {
        background: #4b7dff;
        border: solid 2px #4b7dff; }

.vfx-alert h2 {
  margin: 0 0 113px; }

.vfx-alert__image {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.list-number {
  font-family: 'norms', sans-serif;
  counter-reset: item; }
  .list-number li {
    margin: 0 0 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .list-number li:last-child {
      margin: 0; }
    .list-number li:before {
      counter-increment: item;
      content: counters(item, ".");
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 27px 0 0;
      min-width: 18px;
      width: 18px;
      height: 18px;
      border: solid 1px #4879f6;
        border-radius: 50%;
      font-size: 12.5px;
      font-weight: 500;
      color: #4b7dff; }

.reasons {
  padding: 91px 0 67px; }
  .reasons h2 {
    margin: 0 auto 97px; }
  .reasons .image-bg {
    top: 165px;
    right: 0; }
  .reasons .row {
    position: relative; }

.image-bg {
  position: absolute; }

.reasons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 37px; }
  .reasons-box .icon {
    margin: 0 auto 35px;
    width: 94px;
    height: 94px;
    border: solid 2px #4879f6;
      border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .reasons-box h3 {
    text-align: center;
    width: 100%;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.84px; }
  .reasons-box .text {
    font-family: 'norms', sans-serif;
    font-size: 15px;
    margin: 20px 0 0; }

label {
  display: block;
  margin: 0 0 19px; }
  label:last-child {
    margin: 0; }

input {
  outline: none;
  font-family: 'norms', sans-serif;
  color: rgba(255, 255, 255, 0.73);
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  background: transparent;
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, 0.4);
  height: 49px;
  padding: 0 23px; }
  input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.73); }
  input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.73); }
  input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.73); }
  input::placeholder {
    color: rgba(255, 255, 255, 0.73); }

form {
  position: relative;
  width: 400px;
  border-radius: 10px;
  background-color: #4b7dff;
  margin: 0 auto;
  padding: 49px 63px 63px;
  overflow: hidden; }
  form:before {
    content: '';
    position: absolute;
    width: 1464px;
    height: 1077px;
    background: url("../img/figure.png") no-repeat center;
      background-size: contain;
    bottom: 357px;
    left: -305px; }
  form h3 {
    text-align: center;
    width: 100%;
    margin: 0 auto 59px;
    letter-spacing: 3.36px;
    font-size: 24px; }
  form .btn {
    margin: 40px auto 0;
    max-width: 200px;
    width: 100%; }

.signals h2 {
  margin: 0 auto 89px; }

.signals .btn {
  margin: 74px 0 0 42px;
  max-width: 190px; }

.list-check {
  font-family: 'norms', sans-serif; }
  .list-check li {
    position: relative;
    padding: 0 0 0 42px;
    margin: 0 0 30px; }
    .list-check li:last-child {
      margin: 0; }
    .list-check li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background: url("../img/check.png") no-repeat center;
        background-size: contain;
      width: 18px;
      height: 13px; }

.signals-image {
  position: relative; }
  .signals-image .img-logo {
    position: absolute;
    right: 120px;
    top: -70px;
    width: 297px;
    height: 320px;
    opacity: 0.09; }
  .signals-image img {
    position: relative;
    z-index: 1; }

.btn-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20px;
  height: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 0 auto auto; }
  .btn-burger span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background: #fff; }

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 19px 24px 0;
  background: #2F3545;
  z-index: 11;
  overflow-y: auto;
  overflow-x: hidden;
  display: none; }
  .mobile-menu .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .mobile-menu .menu li {
      margin: 0 0 20px; }

.btn-close {
  width: 20px;
  height: 20px;
  margin: 0 0 30px auto;
  position: relative;
  cursor: pointer; }
  .btn-close:before, .btn-close:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #9B9EA8;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    top: 0; }
  .btn-close:before {
    left: 9px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  .btn-close:after {
    right: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.page-wrapper {
  background: url("../img/bg2.jpg") no-repeat center;
    background-size: cover; }

.main-page h1 {
  font-size: 60.5px; }

.main-page .btn {
  max-width: 187px; }

.main-page .main-bottom {
  margin: 240px 0 0; }

.main-page__img {
  position: absolute;
  width: 800px;
  top: -40%;
  right: -25%; }

.video {
  padding: 190px 0 130px; }

.video-wrapper {
  position: relative; }
  .video-wrapper video {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1; }
  .video-wrapper:before {
    width: 710px;
    height: 395px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 46px 0 rgba(0, 0, 0, 0.17);
            box-shadow: 0 0 46px 0 rgba(0, 0, 0, 0.17);
    background-color: #4b7dff;
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: -10px; }

.video-button {
  position: absolute;
  top: 50%;
  left: 63%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .video-button .text {
    letter-spacing: 0.4px;
    font-family: 'norms', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 -20px 13px; }
    .video-button .text span {
      font-weight: 300; }

.playpause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 84px;
  width: 84px;
  height: 84px;
  background-color: #4b7dff;
  border-radius: 50%;
  cursor: pointer; }

.about h2 {
  margin: 0 auto 102px; }

.about-text {
  font-family: 'norms', sans-serif; }
  .about-text p {
    margin: 0 0 30px; }
    .about-text p:last-child {
      margin: 0; }

.about-wrapper {
  width: 100%;
  margin: 69px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  font-family: 'norms', sans-serif; }
  .about-box .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-family: 'bebas', sans-serif;
    font-size: 44px;
    line-height: 1;
    margin: 0 0 16px;
    position: relative;
    padding: 0 0 0 25px; }
    .about-box .number:before {
      content: '';
      position: absolute;
      left: 10px;
      bottom: 10px;
      width: 8px;
      height: 18px;
      background: url("../img/arrow-top.png") no-repeat center;
        background-size: contain; }
    .about-box .number span {
      font-size: 22px;
      line-height: 1;
      display: inline-block;
      margin: 0 0 5px 5px; }
  .about-box:nth-child(2) .number:before {
    height: 27px; }
  .about-box:last-child .number:before {
    height: 34px; }

.about-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.about-img {
  position: absolute; }

.about-img1 {
  width: 67px;
  top: 60%;
  left: 0; }

.about-img2 {
  width: 739px;
  right: -40%;
  top: -40%; }

.advantages {
  padding: 88px 0; }
  .advantages .row {
    position: relative; }

.advantages-wrapper {
  margin: 76px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.advantages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 0 120px;
  width: 186px;
  line-height: 1.67;
  letter-spacing: 0.38px;
  font-family: 'norms', sans-serif; }
  .advantages-box .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 30px;
    width: 118px;
    height: 118px;
    border: solid 2px #4b7dff;
      border-radius: 50%; }

.easy {
  padding: 0 0 76px; }
  .easy .easy-text {
    text-align: center;
    font-size: 20px;
    font-family: 'norms', sans-serif; }
  .easy .btn {
    margin: 26px auto 0;
    max-width: 187px; }

.easy-wrapper {
  margin: 64px 0 67px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }
  .easy-wrapper:before {
    content: '';
    position: absolute;
    width: 736px;
    height: 1px;
    background: url("../img/line.png") no-repeat center;
      background-size: contain;
    top: 46%;
    left: 162px; }

.easy-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative; }
  .easy-box:before {
    content: '';
    position: absolute;
    width: 9px;
    height: 16px;
    background: url("../img/arrow-green.png") no-repeat center;
      background-size: contain;
    top: 43.5%;
    left: 275px; }
  .easy-box .icon-wrap {
    position: relative;
    z-index: 1;
    margin: 0 0 53px; }
    .easy-box .icon-wrap .number {
      position: absolute;
      width: 29px;
      height: 29px;
      background: #f8de22;
      z-index: 2;
      right: 7px;
      bottom: 7px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      border-radius: 50%;
      line-height: 1.67;
      letter-spacing: 0.38px;
      font-size: 15px;
      font-weight: 500;
      font-family: 'norms', sans-serif; }
  .easy-box .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    border-radius: 50%;
    width: 155px;
    height: 155px;
    background: #2b3251;
    overflow: hidden; }
  .easy-box:nth-child(2):before {
    left: 295px; }
  .easy-box:last-child:before {
    display: none; }

.easy-box__content {
  font-size: 30px;
  letter-spacing: 0.75px; }
  .easy-box__content p {
    font-family: 'norms', sans-serif;
    letter-spacing: 0.38px;
    font-size: 15px;
    margin: 15px 0 0; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  .list-contacts {
    margin: 40px 0 0; }
    .list-contacts li a {
      width: 100px;
      height: 60px;
      padding: 0;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  main {
    padding: 220px 0 0; }
  .image2 {
    max-width: 500px; }
  .image1 {
    max-width: 70px; }
  .main-bottom {
    margin: -40px 0 0; }
  .main-page__img {
    width: 700px;
    top: -20%; }
  .main-page .main-bottom {
    margin: 200px 0 0; }
  .video-wrapper:before {
    width: 90%; }
  .about-img2 {
    width: 539px; }
  .easy-wrapper:before {
    width: 550px; }
  .easy-box:before {
    left: 238px; }
  .easy-box:nth-child(2):before {
    left: 248px; }
  .easy-box .icon-wrap {
    margin: 0 0 30px; }
  .easy-wrapper {
    margin: 40px 0; }
  .easy .easy-text {
    font-size: 16px; }
  .easy-box__content {
    font-size: 26px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .menu li {
    margin: 0 10px 0 0; }
    .menu li a {
      padding: 7px 18px; }
  .vfx-alert__image {
    margin: 30px auto 0; }
  .contacts {
    padding: 50px 0; }
  .main-page__img {
    width: 600px; }
  .video-wrapper:before {
    height: 195px; }
  .about h2 {
    margin: 0 auto 40px; }
  .about-img {
    position: relative; }
  .about-img1 {
    top: 0;
    width: auto; }
  .about-img2 {
    top: 0;
    right: 0;
    width: auto; }
  .about-img-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .advantages-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 50px 0 0; }
  .advantages-box {
    width: 33.3%;
    margin: 0 0 40px; }
  .advantages {
    padding: 60px 0; }
  .easy-box {
    margin: 0 0 50px; }
  .easy-wrapper:before, .easy-box:before {
    display: none; }
  .easy-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 40px 0 0; }
  .logo img {
    max-width: 100%; } }

@media only screen and (max-width: 767px) {
  header {
    padding: 20px 0; }
  .logo {
    width: 100%; }
  h1, h2, .main-page h1 {
    font-size: 59px; }
  .description {
    font-size: 24px; }
  .main-bottom {
    margin: 30px 0; }
  .image1 {
    margin: 0 30px; }
  .vfx-alert h2 {
    margin: 0 0 40px; }
  .signals-image .img-logo {
    width: 200px;
    height: 220px; }
  .list-contacts {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .list-contacts li {
      margin: 0 0 20px; }
      .list-contacts li:last-child {
        margin: 0 0 20px; }
      .list-contacts li a {
        width: 60px;
        height: 45px; }
  .contacts .image-bg {
    display: none; }
  .main-page__img {
    top: 0;
    right: 0;
    position: relative;
    width: 100%; }
  .main-page .main-bottom {
    margin: 130px 0 -100px; }
  .video {
    padding: 100px 0; }
  .playpause {
    width: 45px;
    height: 45px;
    min-width: 45px; }
    .playpause img {
      width: 17px; }
  .video-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 50%; }
    .video-button .text {
      font-size: 14px;
      margin: 10px auto 0;
      text-align: center; }
  .video-wrapper {
    margin: 30px 0 0; }
    .video-wrapper:before {
      height: 100px; } }

@media only screen and (max-width: 575px) {
  .about-box {
    margin: 0 0 30px; }
  .advantages-box {
    width: 50%; } }

@media only screen and (max-width: 480px) {
  h1, h2, .main-page h1 {
    font-size: 48px; }
  form {
    width: 100%;
    padding: 49px 30px; }
  .signals-image .img-logo {
    right: 0;
    width: 170px;
    height: 200px; }
  main {
    padding: 140px 0 0; } }

@media only screen and (max-width: 420px) {
  .advantages-box {
    width: 100%; } }
